.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  margin: auto;
  height: 100%;
}

.noteInput {
  margin: 2vh;

  text-align: center; 
  width: 15vw;
}