.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  margin: auto;
  height: 100%;
}

.login {
  margin: 2vh;

  text-align: center;
  width: 15vw;
}

#textBox {
  position: relative;
  margin: 4px;
}

#inputButton {
  height: 2.5vh;
}

.noteInput {
  margin: 2vh;

  text-align: center; 
  width: 15vw;
}